@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  @apply text-tl-dark-blue;
  @apply text-sm;
  @apply sm:text-base;
}

main a {
  /* @apply text-tl-light-blue; */
  transition: color 0.3s ease;
}

text a {
  color: #007bff;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

text a:hover {
  color: #007bff;
  text-decoration: underline;
}

main h1 {
  @apply text-xl;
  @apply sm:text-5xl;
  @apply font-bold;
}

text ul {
  list-style-type: square;
  gap: 5px;
}

text li {
  margin: 5px 0;
}

main h2 {
  @apply text-base;
  @apply sm:text-lg;
  @apply font-bold;
}

main h3 {
  @apply text-base;
  @apply sm:text-xl;
  @apply font-semibold;
}

main p {
  &:not(:last-child) {
    @apply mb-5;
  }
}

.text-page h2 {
  @apply mb-3 mt-8 text-xl;
}

.text-page h2:first-child {
  @apply mt-0;
}

text ul {
  @apply mb-5;
}

text p {
  @apply mb-5;
}

.smallCaps {
  font-variant: small-caps;
}

.page {
}

.centerAbsolute {
  @apply text-center content-center items-center justify-center;
}
